// #backgroundIngredientes{
    
// }
.containerIngredientes{
    position: relative;
    margin-top: -100px;
    padding-top: 100px;
    width: 100%;
    background-image: url(./img/bgIngredientes.jpg);
    background-size: cover;
    z-index: 1;
}
.nostraIngredientes{
    width:100%;
    float: left;
    div{
        float: right;
        width:48%;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-right: 80px;
        p{
            text-align: left;
            color: ($pColor1);
        }
        h2{
            font-family: $primaryFont;
            color: ($primaryColor);
            font-size: 22px;
            font-weight: 600;
            text-align: left;    
        }
    }
}
#fxAparacerIngredientes1{
    margin-top: 50px;
    animation-name: aparecerIngredientes1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {       
    }
}
#fxAparacerIngredientes2{
    animation-name: aparecerIngredientes2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {        
        opacity: 1;
    }
    100% {       
    }
}
#fxAparacerIngredientes3{
    animation-name: aparecerIngredientes3;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes3 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        
        opacity: 1;
    }
    100% {
        
    }
}
#fxAparacerIngredientes4{
    animation-name: aparecerIngredientes4;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes4 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        
        opacity: 1;
    }
    100% {
        
    }
}
@media (max-width: 992px) {
    .nostraIngredientes div{
        float: right;
        width:100%;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-left: 30px;
    }
}