#containerTitle{
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
    z-index: 999;
}
.backgroundMenu{
    position: absolute;
    top: 0;
    padding-top: 50px;
    width: 100%;
    height: 500px;
    background-image: url(./img/bgMenu.jpg);
    background-size: cover;
    z-index: 1;
}
//aplicando Extend a los H1
.backgroundMenu h1{
    @extend h1;
    padding-top: 200px;
    text-align: center;
}
.backgroundMenu p{
    margin-top: -20px;
    text-align: center;
    font-size: 24px;
    font-family: $primaryFont;
    color: ($pColor1);
}
.containerPreparadosMenu{
    margin-top: 400px;
}
.menuPizzas{
    width:90%;
    justify-content: space-between;
    text-align: center;
    a{
        float: right;
        font-family: $primaryFont;
        font-weight: 600;
        background-color: ($primaryColor);
        color: ($pColor1);
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        @include borderRadius(60px 10px 40px 20px);
        
        z-index: 3;
    }
}
.imgMenu{
    @include borderRadius(60px 10px 40px 20px);
    width: 275px;
    height: 186px;
    animation-name: efectoMenu;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes efectoMenu {
    0% {
        @include borderRadius(80px 20px 60px 40px);
    }
    25% {
        @include borderRadius(100px 40px 80px 60px);
        background-color: ($terciaryColor);
    }
    50% {
        @include borderRadius(20px 60px 100px 80px); 
    }
    75% {
        @include borderRadius(40px 80px 20px 100px);
        background-color: ($terciaryColor);
    }
    100% {
        @include borderRadius(60px 10px 40px 20px);
    }
}
#menuFx{
    z-index: 2;
    overflow: hidden;
}
#imgMenuFx{
    margin-top: -100px;
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
    z-index: 999;
}
.menuPizzas div{
    margin-top: 5px;
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 5px;
    z-index: 998;
}
.menuPizzas div p{
    text-align: left;
    font-family: $primaryFont;
    color: ($pColor1);
}
.menuPizzas div h2{
    font-family: $primaryFont;
    color: ($primaryColor);
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    
}
#infoMenu{
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes aparecerMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateY(-600px);
        opacity: 0.5;
    }
    50% {       
        opacity: 1;
    }
    100% {
        
    }
}
.menuPizzas div h3{
    font-family: $primaryFont;
    color: ($primaryColor);
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .imgMenu{
        width: 100%;
        height: auto;
        @include borderRadius(40px 5px 20px 10px);
    }
    .menuPizzas{
        width:100%;
    }
    .backgroundMenu{
        padding-top: 50px;
        background-image: url(./img/bgMenu.jpg);
        background-size: cover;
    }
    .backgroundMenu h1 {
        margin-top: -90px !important;
        font-size: 28pt;
        font-weight: 600;
        line-height: 23pt;
    }
    .containerPreparadosMenu{
        margin-top: 200px;
    }
    .containerMenu{
        position: relative;
        margin-top: 0px;
        z-index: 2;
    }
}