.backgroundIngredientes{
    background-image: url(./img/bgIngredientes.jpg);
    background-size: cover;
    z-index: 0;
}
#containerIng{
    margin-top: -100px;
}
.containerIngredientes{
    display: contents;
    justify-content: center;
    align-items: center;
}
.nostraIngredientes{
    width:100%;
    float: left;
}
.nostraIngredientes div{
    float: right;
    width:48%;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-right: 80px;
}
.nostraIngredientes div p{
    text-align: left;
    color: white;
}
.nostraIngredientes div h2{
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 22px;
    font-weight: 600;
    text-align: left;    
}
#fxAparacerIngredientes1{
    margin-top: 100px;
    animation-name: aparecerIngredientes1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {       
    }
}
#fxAparacerIngredientes2{
    animation-name: aparecerIngredientes2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {        
        opacity: 1;
    }
    100% {       
    }
}
#fxAparacerIngredientes3{
    animation-name: aparecerIngredientes3;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes3 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        
        opacity: 1;
    }
    100% {
        
    }
}
#fxAparacerIngredientes4{
    animation-name: aparecerIngredientes4;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-direction: alternate;
}
@keyframes aparecerIngredientes4 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(-550px);
        opacity: 0.5;
    }
    50% {
        
        opacity: 1;
    }
    100% {
        
    }
}
@media (max-width: 992px) {
    .nostraIngredientes div{
        float: right;
        width:100%;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-left: 30px;
    }
}