#containerTitle{
    z-index: 1;
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
    z-index: 999;
}

.backgroundMenu h1{
    padding-top: 200px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.backgroundMenu p{
    margin-top: -20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.containerPreparadosMenu{
    margin-top: 10px;
}
.menuPizzas{
    width:90%;
    justify-content: space-between;
    text-align: center;
}
.imgMenu{
    border-radius: 60px 10px 40px 20px;
    width: 275px;
    height: 186px;
    animation-name: efectoMenu;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes efectoMenu {
    0% {
        border-radius: 80px 20px 60px 40px;;
    }
    25% {
        border-radius: 100px 40px 80px 60px;
        background-color: var(--terciaryColor);
    }
    50% {
        border-radius: 20px 60px 100px 80px;        
    }
    75% {
        border-radius: 40px 80px 20px 100px;
        background-color: var(--terciaryColor);
    }
    100% {
        border-radius: 60px 10px 40px 20px;
    }
}
#menuFx{
    z-index: 2;
    overflow: hidden;
}
#imgMenuFx{
    margin-top: -100px;
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
    z-index: 999;
}
.menuPizzas div{
    margin-top: 5px;
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 5px;
    z-index: 998;
}
.menuPizzas div p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.menuPizzas div h2{
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    
}
#infoMenu{
    animation-name: aparecerMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes aparecerMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateY(-600px);
        opacity: 0.5;
    }
    50% {       
        opacity: 1;
    }
    100% {
        
    }
}
.menuPizzas div h3{
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}
@media  (max-width: 768px) {
    .imgMenu{
        width: 100%;
        height: auto;
        border-radius: 40px 5px 20px 10px;
    }
    .menuPizzas{
        width:100%;
    }
    .backgroundMenu{
        padding-top: 50px;
        background-image: url(./img/bgMenu.jpg);
        background-size: cover;
    }
    .backgroundMenu h1 {
        margin-top: -90px !important;
        font-size: 28pt;
        font-weight: 600;
        line-height: 23pt;
    }
    .containerPreparadosMenu{
        position: relative;
        top: 0px;
        z-index: 999;
    }
    .containerMenu{
        position: relative;
        margin-top: 0px;
        z-index: 2;
    }
}