@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@0,300;1,200&family=Nabla&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');

@import "./sass/_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $secondaryColor;
}
header{
    width: 100%;
    top: 0;
    height: 78px;
    z-index: 998;

} 
// aplicando Nesting
.bg-body-tertiary{
    background: #000000af !important;
    .logo{
        float: left;
        margin-top: 10px;
        margin-left: 1rem;
        top: 20px;
        height: 60px;
        width: auto;
        img{
            position: absolute;
            top: 10px;
            z-index: 999;
        }
     }
     .menu{
         width: 100%;
         .containerMenu{
             float: right;
         }
     }
}
// aplicando Nesting
.navbar{
    font-family: $primaryFont;
    ul {
        list-style: none;
        font-size: 14px;
        font-weight: bold;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    a{
        text-decoration: none;
        color: ($pColor1);
    }
    a:hover{
        color: ($primaryColor);
        font-size: 16px;
        transform: scale(1.2, 1.2);
        transition: all 0.5s; 
    }
    .separatorMain{
        color: ($pColor1);
        font-size: 20px;
        padding: 10px;
        margin-top: -15px;
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(235, 174, 8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: ($primaryColor);
} 
.navbar-collapse{
    width: 100% !important;    
    text-align: right !important;
        
}
.show{
    position: absolute;
    top: 96px;
    left: 0;
    padding-bottom: 30px;
    width: 100% !important;    
    text-align: right !important;
    background-image: url(./img/PizzaAugusta.png);
    background-size: cover;
    z-index: 9999;    
}
#mainTop{
    margin-top: -100px !important;
}
main{
    height: calc(100vh + 20px);
    background-image: url(./img/bgHome.jpg);
    background-size: cover;
    z-index: 1;
}
#fxContainer{
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-direction: alternate;
}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        width: 100%;
    }
    1% {
        transform: translateX(400px);
        opacity: 1;
    }
    25% {
        transform: translateX(400px);
        opacity: 1;       
    }
    50% {
        transform: translateX(200px);
        opacity: 1;
    }
    100% {
        width: 100%;
    }
}
.mainContainer{
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main p{
    text-align: justify;
    font-family: $primaryFont;
    font-size: 21px;
    font-weight: 600;
    color: ($pColor1);
}
.call{
   display: block;
   margin-top: 100px;
   margin-left: 40%;
   width: 50%;
}
#homeH1{
    animation-name: aparecerH1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
    animation-direction: alternate;
}
@keyframes aparecerH1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        transform: translateX(400px);
    }
    25% {
        transform: translateX(400px);
        color: rgb(128, 19, 0);
        font-family: $primaryFont;
        font-weight: 900;
        z-index: 3;
    }
    75% {
        transform: translateX(200px);
        color: rgb(128, 19, 0);
        font-family: $primaryFont;
        font-weight: 900;
    }
    100% {
        width: 100%;
        color: ($primaryColor);
        font-family: $primaryFont;
        font-weight: 900;
        z-index: 3;
    }
}
h1{
    font-family: $primaryFont;
    color: ($primaryColor);
    font-weight: 900;
    z-index: 3;
}
.call a{
    float: right;
    font-family: $primaryFont;
    font-weight: 600;
    background-color: ($primaryColor);
    color: ($pColor1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    @include borderRadius(60px 10px 40px 20px);
    z-index: 3;
}
#botonFx{
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-direction: alternate;
    z-index: 3;
}
@keyframes efecto {
    0% {
        @include borderRadius(80px 20px 60px 40px);
    }
    25% {
        @include borderRadius(100px 40px 80px 60px);
        background-color: ($terciaryColor);
    }
    50% {
        @include borderRadius(20px 60px 100px 80px);
    }
    75% {
        @include borderRadius(40px 80px 20px 100px);
        background-color: ($terciaryColor);
    }
    100% {
        @include borderRadius(60px 10px 40px 20px);
    }
}
.call a:hover{
    background-color: #36044d;
    z-index: 3;
}
article{
    padding-top: 80px;
    width: 100%;
}
article:hover{
    transform: scale(1.2, 1.2);
    transition: all 1s; 
}
.container-fluid{
    overflow: hidden;
}
.flex{
    text-align: center;
} 
.flex p{
    margin-top: -10px;
    font-family: $primaryFont;
    color: ($pColor1);
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
footer{
    position: static;
    bottom: 0;
    margin-top: 100px;
    background-color: ($secondaryColor);
    color: ($pColor1);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 30px;
    z-index: 2;
}
.footerColumna1{
    padding-top: 30px;
    text-align: left;
}
.footerColumna2{
    padding-top: 30px;
    text-align: left;
}
.footerColumna3{
    padding-top: 30px;
    text-align: right;
}
footer h3{
    font-family: $primaryFont;
    color: ($pColor1);
    font-size:larger;
    font-weight: 600;
}
footer ul{
    list-style: none;
    font-size: 12px;
    justify-content: space-evenly;
    font-family: $primaryFont;
    color: ($pColor1);
}
footer li{
    margin-left: -30px;
    padding-top: 10px !important;
}
footer ul li img{
    padding-right: 5px;
    margin-top: -10px;
}
footer a{
    text-decoration: none;
    color: ($pColor1);
}
footer a:hover{
    color: ($primaryColor);
}
footer p{
    padding-top: 90px;
    margin-bottom: 0px !important;
    font-size: 11px !important;
    justify-content: space-evenly;
    font-family: $primaryFont;
    color: ($pColor1);
}
.subir{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 168, 0, 0.3);
    color: ($primaryColor);
    position: fixed;
    bottom: 60px;
    right: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    box-shadow: 0 0 2px ($pColor1);
    z-index: 2;
}
@media (min-width: 993px) {
    .BulletMainMobile{
     display: none;
    }
}
@media (max-width: 992px) {
    .separatorMain{
        display: none;
    }
    .BulletMainMobile{
        width: 25px;
        height: 20px;
        margin-top: -11px;
        padding-left: 10px;
    }
    .call{
        display: block;
        margin-top: 100px;
        margin-left: 0%;
        width: 90%;    
     }
    .navbar ul li{
        list-style: none;
        font-size: 15px;
        font-weight: bold;
        padding-top: 5px;
    }
    .navbar-expand-lg .navbar-collapse {
        padding-right: 50px;
    }
    .footerColumna3{
        text-align: center;
    } 
    #fxContainer{
        animation-name: aparecer;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-direction: alternate;
    }
    
    @keyframes aparecer {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        0% {
            width: 100%;
            transform: translateY(-200px);
        }
        50% {
            opacity: 0.5;
        }
        100% {
            width: 100%;
        }
    }
}

@import "./sass/_menu";
@import "./sass/_ingredientes";
@import "./sass/_sucursales";
@import "./sass/_contacto";